* {
    
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    /* font-weight: bold; */
    
}

body {
    margin: 0;
}
.uk-navbar-nav {
    font-weight: bold;
    font-size: 30px;
}

#canvas-image-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#canvas-image-blending {
    position: absolute;
    display: block;
    width: 100% ;
    height: 150%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
}


/* #aboutme {
    font-size: large;
    font-family: 'Open Sans', sans-serif;
} */
.title {
    font-weight: bold;  
}

